@font-face {
    font-family: 'custom_font';
    src: url("../fonts/DePixelKlein.ttf");
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}  

body {
    animation: fadeIn 3s;
    background-color: #181818;
    margin: 0;
    padding: 0;
    font-family: "custom_font";
    overflow: hidden
}

.main {
    align-items: center;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 100%;
    max-width: 128px;
    margin-bottom: 20px;

    transform: translate(0%, 94px);
}

.logo_text {
    color: white;
    font-family: "custom_font";
    margin-bottom: 40px;
    z-index: 60;
}

.img_background {
    width: 100%;
    max-width: 525px;
    margin: 0 auto 20px auto;
}

.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.open_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-top: 40px;
    transform: translate(0%, -480px);
}

.openButton_text {
    color: black;
    font-size: large;
    font-family: "custom_font";
    transform: translate(0%, 40px);
}

.openButton_img {
    width: 256px;
    height: 64px;
    max-width: 256px;
    max-height: 64px;
}

.open_button:hover, .button:hover {
    filter: brightness(0.8);
}

.button_text {
    color: white;
    font-family: "custom_font";
    font-size: 16px;
    margin-top: 10px;
}

.default_text {
    color: white;
    font-family: "custom_font";
    font-size: 16px;
    margin-top: 10px;
}

.content_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.content_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    transform: translate(0%, -480px);

    row-gap: 32px;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    max-width: 420px;
    justify-content: center;
}

@media (max-width: 768px) {
    .img_background {
        width: 95%;
    }
    .content_grid {
        grid-template-columns: repeat(3, 1fr);

        transform: translate(0%, -370px);
        
        row-gap: 24px;
    }
    .button {
        scale: 75%;
    }
    .logo {
        transform: translate(0%, 94px);
    }
    .open_button {
        transform: translate(0%, -420px);
    }
    .openButton_text {
        transform: translate(0%, 40px);
    }
    body {
        transform: translate(0%, 0%);
    }
}